/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.vertical-editor {
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    line-height: 2;
    letter-spacing: 0.2em;
    border: 1px solid black;
    padding: 10px;
    height: 90%;
    overflow-y: auto;
}
